.share-buttons {
    .stButton_gradient {
        height: inherit !important;
    }
    .stArrow {
        height: inherit !important;
    }
    .stMainServices.st-twitter-counter, .stMainServices.st-facebook-counter {
            height: inherit !important;
    }
}