.sound-cloud-player {
    display: table;
    width: 100%;

    .logo {
        img {
            height: 120px;
            width: auto;
        }
    }

    .details {
        vertical-align: top;
        padding-left: 8px;
        padding-right: 8px;

        .track-details-container {
            display: table;
            width: 100%;

            .play-indicator {
                width: 50px;
                height: 60px;

                vertical-align: middle;
                cursor: pointer;

                .fa-circle {
                    font-size: 50px;
                    color: #ff5602;
                }
                .fa.player-control {
                    padding-left: 8px;
                    font-size: 20px;
                }
                .player-control.fa-stop {
                    padding-left: 6px;
                    font-size: 18px;
                }
            }

            .sub-details {
                vertical-align: middle;

                .track-name, .track-label {
                    a {
                        text-decoration: none;
                    }
                }

                .track-label {
                    a {
                        font-size: 12px;
                        color: grey;
                    }
                }

                .track-name {
                    a {
                        font-size: 13px;
                        color: black;
                    }
                }



                .sub-container {
                    display: table;
                    table-layout:fixed;
                    overflow:hidden;
                    white-space: nowrap;

                    width: 100%;

                    .sc-logo, .track-actions {
                        width: 50px;
                        text-align: right;
                    }
                }
            }
        }

        .track-stats {
            text-align: right;
            padding-top: 2px;

            font-size: 11px;
            color: grey;
        }

        .stats {
            font-size: 13px;
            color: silver;

            .fa-arrow-up {
                color: #00a300;
            }
            .fa-arrow-down {
                color: red;
            }
            .fa-arrows-h {
                color: black;
            }
            .fa-star {
                color: #f47d15;
            }
        }

    }
}