.track-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 175px;

    padding-bottom: 5px;

    .container {
        height: 100%;

        .soundcloud-frame {
            height: 100%;
        }

        .player-controls {
            display: flex;
            flex-direction: column;

            height: 100%;

            .control {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;

                cursor: pointer;
            }

            .fa {
                font-size: 30px;

                transition: color 0.1s ease-in-out;
            }

            .fa:hover {
                color: #ff5602;
            }
        }
    }
}