.track-player {
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    height: 175px;

    padding-bottom: 5px;
    padding-top: 5px;

    background-color: white;

    .row.stats {
        display: none;
    }

    &.max{
        top: 50px;
        bottom: 0;

        height: inherit;

        overflow-y: auto;

        .row.stats {
            display: block;
        }
    }

    .container {
        height: 100%;

        .soundcloud-frame {
            height: 175px;
        }

        .player-controls {
            display: flex;
            flex-direction: column;

            height: 170px;

            .control {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
            }

            .fa {
                font-size: 30px;
                cursor: pointer;

                transition: color 0.1s ease-in-out;
            }

            .fa:hover {
                color: #ff5602;
            }

            .fa.disabled {
                color: silver;
                cursor: default;

                &:hover {
                    color: silver;
                }
            }
        }
    }
}