.track-thumbnail {

    .thumbnail-container {
        position: relative;
        margin-bottom: 10px;

        &:hover {
            .play-indicator {
                opacity: 0.9;
            }
        }

        &.active {
            .thumbnail {
                border: 1px solid #ff5602;
            }
        }

        .thumbnail {

            img {
                width: 100%;
            }

            margin-bottom: 0;
        }

        .rank {
            position: absolute;
            top: 7px;
            left: 30px;

            font-size: 25px;
            font-weight: bold;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        .stats {
            position: absolute;
            top: 10px;
            right: 30px;

            font-size: 20px;
            font-weight: bold;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

            .fa-arrow-up {
                color: #00a300;
                text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            }
            .fa-arrow-down {
                color: red;
                text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            }
            .fa-arrows-h {
                color: black;
                text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            }
            .fa-star {
                color: #f47d15;
                text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            }
        }

        .play-indicator {
            position: absolute;

            top: 50%;
            left: 50%;
            height: 30%;
            width: 50%;
            margin: -10% 0 0 -34%;

            text-align: center;

            opacity: 0;

            cursor: pointer;

            transition: opacity 0.1s ease-in-out;

            .fa-circle {
                font-size: 80px;
                color: #ff5602;
            }

            .fa.player-control {
                padding-left: 22px;
                font-size: 40px;
            }

            .player-control.fa-stop {
                padding-left: 19px;
                font-size: 35px;
            }

        }

    }

    .track-title {
        width: 150px;

        padding: 0 3px 0 3px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 12px;
    }

}