.track-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    
    .container {
        height: 100%;

        .soundcloud-frame {
            background: green;
        }
        
        .player-controls {
            display: flex;
            flex-direction: column;
            
            height: 100%;
            
            .control {
                display: flex;
                align-items: center;
                justify-content: center;
                
                height: 100%;
            }
        }
    }
}