.track-stats {
    .modal-header {
        border-bottom: none;
        padding-bottom: 0;
    }

    .modal-body {
        padding-top: 0;
    }

    .fa-times-circle {
        font-size: 30px;
    }
}